/* Our App */
body{
  font-family: "Montserrat", sans-serif;
  background-color: #f6f6fa;
}


.app-wrapper{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 40px auto;
    background-color: #fff;
}

/* Sidebar Styles */
.sidebar-section{
    background-color: #DFEEFF;
}

.sidebar-image{
    margin-top: 40px;
}

.contacts-container{
    padding-left: 40px;
}

.contacts-header{
    color: #161D2A;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.contacts-item{
    color: #161D2A;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.contacts-phone{
    color: #4489FF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin-left: 10px;
}

.contacts-linkedin{
    color: #4489FF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin-left: 10px;
}

.contacts-email{
    color: #4489FF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
}

.contacts-element{
    margin-top: -12px;
}

.tech-skills-container{
    padding-left: 40px;
    margin-top: 40px;
}

.tech-skills-header{
    color: #161D2A;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tech-skills-list{
    color: #161D2A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: -10px;
    margin-left: -10px;
}

.soft-skills-container{
    padding-left: 40px;
    margin-top: 70px;
}

.soft-skills-header{
    color: #161D2A;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.soft-skills-list{
    color: #161D2A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: -10px;
    margin-left: -10px;
}


/* Main content Styles */
.right-side-container{
    padding-left: 88px;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 180px;
}

.about-me-profession{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about-me-name{
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -10px;
}

.about-me-description{
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: -15px;
}

.projects-section{
    margin-top: 40px;
}

.projects-header{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.projects-list{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-left: -20px;
    margin-top: -10px;
}

.project-name{
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.project-info{
    font-weight: 400;
}

.work-experience-section{
    margin-top: 40px;
}

.work-experience-header{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.company-name{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.company-info{
    color: #6096ff;
    margin-left: 10px;
}

.company-time{
    color: #a8a8a8;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -10px;
}

.company-elements-list{
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: -10px;
    margin-top: -5px;
}

.company-container{
    margin-top: -10px;
}

.education-section{
    margin-top: 40px;
}

.education-container{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.education-info{
    color: #6096ff;
    margin-top: -10px;
}

.education-name{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -15px;
}

.education-time{
    color: #a8a8a8;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -10px;
    margin-bottom: 20px;
}
